<h2>Single Historical Figure Page</h2>

<!-- add content here -->
<h4><%=@figure.name%></h4>

<h5>Landmarks:<br>
  <% @figure.landmarks.each do |landmark| %>
    Name: <%= landmark.name %> Year: <%= landmark.year_completed %> <br>
  <% end %>
</h5>

<h5>Titles:<br>
  <% @figure.titles.each do |title| %>
    <%= title.name %><br>
  <% end %>
</h5>





<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
